{%include "header.html"%}

<form action="/submituser" method="post" xmlns="http://www.w3.org/1999/html">

    <div id="NEW-USER">
    <ul >

      <li>
        <li>email/username: <input type="text" name="EMAIL"></li>

        <li>Firstname: <input type="text" name="FIRSTNAME"></li>

        <li>Surname: <input type="text" name="SURNAME"></li>

        <li>Password: <input type="text" name="PASSWORD"></li>

        <li>Age: <input type="text" name="AGE"></li>

        <li>Gender: <input type="text" name="GENDER"></li>

        <li>Town: <input type="text" name="TOWN"></li>

        <li>Country: <input type="text" name="COUNTRY"></li>

        <li>Postcode: <input type="text" name="POSTCODE"></li>

        <input type="submit" value="Create User">

        </ul>
    </div>
</form>

{%include "footer.html"%}

